* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header .header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
header .header__wrap .logo a img {
  height: 80px;
}
header .header__wrap .navinfor nav {
  padding: 0px;
}
header .header__wrap .navinfor nav .navinfor__list {
  gap: 30px;
}
header .header__wrap .navinfor nav .navinfor__list ul {
  gap: 20px;
}
header .header__wrap .navinfor nav .navinfor__list ul li a {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
header .header__wrap .navinfor nav .navinfor__list .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
header .header__wrap .navinfor nav .navinfor__list .contact .contact__tel {
  background-color: #bc218b;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}
header .header__wrap .navinfor nav .navinfor__list .contact .contact__link i {
  margin-left: 5px;
}