* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --animate-delay: 0.5s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
header .content__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
header .content__wrap .logo a img {
  height: 80px;
}
header .content__wrap .navinfor nav {
  padding: 0px;
}
header .content__wrap .navinfor nav .navinfor__list {
  gap: 30px;
}
header .content__wrap .navinfor nav .navinfor__list ul {
  gap: 20px;
}
header .content__wrap .navinfor nav .navinfor__list ul li {
  position: relative;
}
header .content__wrap .navinfor nav .navinfor__list ul li::after {
  content: "";
  left: 24px;
  width: 9px;
  height: 9px;
  bottom: -20px;
  position: absolute;
  border-radius: 50%;
  transform: scale(0, 0);
  transition: all 0.3s linear;
  background-color: #bc218b;
}
header .content__wrap .navinfor nav .navinfor__list ul li:hover a {
  color: #bc218b;
}
header .content__wrap .navinfor nav .navinfor__list ul li:hover::after {
  width: 10px;
  height: 10px;
  transform: scale(1, 1);
}
header .content__wrap .navinfor nav .navinfor__list ul li a {
  color: #000;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.2s linear;
}
header .content__wrap .navinfor nav .navinfor__list .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
header .content__wrap .navinfor nav .navinfor__list .contact .contact__tel {
  border-radius: 50px;
  padding: 12px 20px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 0 50px #bc218b inset;
  transition: all 0.2s linear;
}
header .content__wrap .navinfor nav .navinfor__list .contact .contact__tel:hover {
  box-shadow: 0 0 0 1px #bc218b inset;
  color: #bc218b;
}
header .content__wrap .navinfor nav .navinfor__list .contact .contact__tel i {
  margin-right: 5px;
}
header .content__wrap .navinfor nav .navinfor__list .contact .contact__link a {
  color: #000;
  transition: all 0.2s linear;
}
header .content__wrap .navinfor nav .navinfor__list .contact .contact__link a:hover {
  color: #bc218b;
}
header .content__wrap .navinfor nav .navinfor__list .contact .contact__link a i {
  margin-left: 5px;
}

.about {
  top: 0;
  left: 0;
  padding: 55px 0;
  position: relative;
  background: url(../../../images/yellow_top_wave_01.png) top left/120% no-repeat, url(../../../images/Violet_top_left_wave.png) bottom left/100% 30% no-repeat;
}
.about .content__wrap {
  padding: 0;
}
.about .content__wrap .about__intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .content__wrap .about__intro .about-text h3 {
  font-size: 15px;
  color: #bc218b;
  font-weight: 600;
}
.about .content__wrap .about__intro .about-text p {
  font-size: 50px;
  font-weight: 700;
}
.member {
  padding: 30px 0;
  background: url(../../../images/Wave_White_bottom_right_shape_01.png) bottom/contain no-repeat;
  background-color: #dcd1f0;
}
.member .content__wrap {
  padding: 0;
}
.member .content__wrap .member__list .member__item {
  padding: 15px 15px;
}
.member .content__wrap .member__list .member__item .member__item--wrap {
  background-color: #fff;
  padding: 0;
  border-radius: 10px;
  transition: all 0.3s linear;
}
.member .content__wrap .member__list .member__item .member__item--wrap:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.member .content__wrap .member__list .member__item .member__item--wrap .member__infor--img {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.member .content__wrap .member__list .member__item .member__item--wrap .member__infor--img img {
  width: 100%;
  transform: scale(1, 1);
  transition: all 0.5s linear;
}
.member .content__wrap .member__list .member__item .member__item--wrap .member__infor--img img:hover {
  transform: scale(1.05);
}
.member .content__wrap .member__list .member__item .member__item--wrap .member__infor--text {
  padding: 20px 20px;
  text-align: center;
}
.member .content__wrap .member__list .member__item .member__item--wrap .member__infor--text h3 {
  color: #bc218b;
  font-size: 12px;
  font-weight: 600;
}
.member .content__wrap .member__list .member__item .member__item--wrap .member__infor--text h4 {
  font-weight: 700;
  font-size: 20px;
}
.member .content__wrap .member__list .member__item .member__item--wrap .member__infor--text p {
  font-weight: 600;
  font-size: 14px;
}

.find {
  padding-top: 56px;
  background: url(../../../images/accent_bottom_wave_01.png) bottom center/contain no-repeat;
}
.find .content__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.find .content__wrap .find__img {
  padding: 0 40px;
}
.find .content__wrap .find__img img {
  width: 100%;
}
.find .content__wrap .find__group {
  padding: 25px 20px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background-color: #fff;
  border-radius: 10px;
}
.find .content__wrap .find__group .find__header h4 {
  font-size: 30px;
  font-weight: 700;
}
.find .content__wrap .find__group .find__infor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.find .content__wrap .find__group .find__infor .name {
  position: relative;
  border-radius: 50px;
}
.find .content__wrap .find__group .find__infor .name .name__icon {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 1;
}
.find .content__wrap .find__group .find__infor .name .name__icon i {
  color: #bc218b;
  font-size: 14px;
}
.find .content__wrap .find__group .find__infor .name .name__text input {
  font-size: 12px;
  border: 1px solid #e7e7e7;
  padding: 11px 11px 11px 39px;
  border-radius: 50px;
  transition: all 0.3s linear;
}
.find .content__wrap .find__group .find__infor .name .name__text input:focus-visible {
  border: 1px solid rgba(0, 0, 0, 0.4509803922);
  outline: none;
}
.find .content__wrap .find__group .find__infor .email {
  position: relative;
  border-radius: 50px;
}
.find .content__wrap .find__group .find__infor .email .email__icon {
  position: absolute;
  top: 12px;
  left: 16px;
  line-height: 1;
}
.find .content__wrap .find__group .find__infor .email .email__icon i {
  color: #bc218b;
  font-size: 14px;
}
.find .content__wrap .find__group .find__infor .email .email__text input {
  font-size: 12px;
  border: 1px solid #e7e7e7;
  padding: 11px 11px 11px 39px;
  border-radius: 50px;
  transition: all 0.3s linear;
}
.find .content__wrap .find__group .find__infor .email .email__text input:focus-visible {
  border: 1px solid rgba(0, 0, 0, 0.4509803922);
  outline: none;
}
.find .content__wrap .find__group .language-list {
  position: relative;
  padding: 14px 0;
}
.find .content__wrap .find__group .language-list .language__icon {
  position: absolute;
  top: 23px;
  left: 16px;
  z-index: 1;
}
.find .content__wrap .find__group .language-list .language__icon i {
  color: #bc218b;
  font-size: 14px;
}
.find .content__wrap .find__group .language-list .language__select .language {
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 11px 11px 11px 39px;
  font-size: 12px;
  border-radius: 50px;
  transition: all 0.3s linear;
  opacity: 0.8;
  cursor: pointer;
}
.find .content__wrap .find__group .language-list .language__select .language:focus-visible {
  border: 0.5px solid rgba(0, 0, 0, 0.4509803922);
  outline: none;
}
.find .content__wrap .find__group .message {
  position: relative;
}
.find .content__wrap .find__group .message .icon {
  position: absolute;
  top: 12px;
  left: 16px;
}
.find .content__wrap .find__group .message .icon i {
  color: #bc218b;
  font-size: 14px;
}
.find .content__wrap .find__group .message .text {
  font-size: 12px;
}
.find .content__wrap .find__group .message .text .text__content {
  width: 100%;
  height: 100px;
  border-radius: 20px;
  border: 1px solid #e7e7e7;
  padding: 11px 11px 11px 39px;
  transition: all 0.3s linear;
}
.find .content__wrap .find__group .message .text .text__content:focus-visible {
  border: 0.5px solid rgba(0, 0, 0, 0.4509803922);
  outline: none;
}
.find .content__wrap .find__group .btn-send {
  margin: 40px 0;
  border-radius: 50px;
  padding: 12px 50px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 0 50px #bc218b inset;
  transition: all 0.2s linear;
}
.find .content__wrap .find__group .btn-send:hover {
  box-shadow: 0 0 0 1px #bc218b inset;
  color: #bc218b;
}

footer {
  padding: 112px 0;
  background: url(../../../images/footer_background.jpg) top center/115% no-repeat;
}
footer .content__wrap {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  color: #fff;
}
footer .content__wrap h4 {
  margin-bottom: 20px;
  font-weight: 600;
}
footer .content__wrap .infor__contact p {
  margin: 10px 0;
  font-size: 12px;
  font-weight: 500;
}
footer .content__wrap .infor__contact p:nth-child(2) {
  padding-top: 2px;
}
footer .content__wrap .infor__contact p i {
  width: 15px;
  height: 15px;
  font-size: 15px;
  vertical-align: middle;
}
footer .content__wrap .infor__contact p span {
  padding-left: 5px;
}
footer .content__wrap .infor__contact div {
  margin-top: 20px;
}
footer .content__wrap .infor__contact div a {
  font-size: 15px;
  margin-right: 5px;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s linear;
}
footer .content__wrap .infor__contact div a:hover {
  color: #000;
}
footer .content__wrap .genaral .ul__list {
  display: flex;
}
footer .content__wrap .genaral .ul__list ul li {
  list-style: none;
  padding: 5px 0;
  border-bottom: 1px solid rgba(140, 3, 104, 0.7098039216);
}
footer .content__wrap .genaral .ul__list ul li:first-child {
  padding-top: 0;
}
footer .content__wrap .genaral .ul__list ul li:hover a {
  opacity: 0.7;
}
footer .content__wrap .genaral .ul__list ul li a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  transition: all 0.2s linear;
}
footer .content__wrap .newletter {
  width: 25%;
}
footer .content__wrap .newletter .enter__email {
  margin-bottom: 10px;
}
footer .content__wrap .newletter .enter__email input {
  padding: 14px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #aa017e;
  text-align: center;
  font-size: 12px;
  transition: all 0.3s linear;
  color: #fff;
  width: 100%;
  font-weight: 500;
}
footer .content__wrap .newletter .enter__email input:focus-visible {
  border: 0.5px solid #fff;
  outline: none;
}
footer .content__wrap .newletter .enter__email input::placeholder {
  color: #fff;
}
footer .content__wrap .newletter .btn__sub button {
  padding: 14px;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  transition: all 0.3s linear;
  color: #000;
  border: 1px solid #fff;
  width: 100%;
  font-weight: 500;
  box-shadow: 0 0 0 50px #fff inset;
  background-color: #aa017e;
}
footer .content__wrap .newletter .btn__sub button:hover {
  box-shadow: 0 0 0 0 #fff inset;
  color: #fff;
}
footer .content__wrap .newletter .btn__sub button:focus {
  outline: none;
}