@import '../../base/base';
@import '../../themes/variable';

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;

    .content__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;

        .logo {
            a {
                img {
                    height: 80px;
                }
            }
        }

        .navinfor {
            nav {
                padding: 0px;

                .navinfor__btn {}

                .navinfor__list {
                    gap: $text-3xl;

                    ul {
                        gap: $text-2xl;

                        li {
                            a {
                                color: $text-c1-dark;
                                font-size: 13px;
                                font-weight: $text-semibold;
                            }
                        }
                    }

                    .contact {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 10px;

                        .contact__tel {
                            background-color: #bc218b;
                            border-radius: $text-5xl;
                            padding: $text-2xs $text-2xl;
                            font-size: $text-3xs;
                            color: $text-c1-light;
                            font-weight: $text-medium;

                            i {}

                            span {}
                        }

                        .contact__link {
                            i {
                                margin-left: 5px;

                            }
                        }
                    }
                }
            }
        }
    }
}

.about {
    top: 0;
    left: 0;
    padding: 55px 0;
    position: relative;
    background: url(../../../images/yellow_top_wave_01.png) top left/120% no-repeat, url(../../../images/Violet_top_left_wave.png) bottom left /100% 30% no-repeat;
    .content__wrap {
        padding: 0;
        .about__intro {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .about-text {
                h3 {
                    font-size: 15px;
                    color: #bc218b;
                    font-weight: $text-semibold;
                }

                p {
                    font-size: $text-5xl;
                    font-weight: $text-bold;
                }
            }

            .about-img {
                img {}
            }
        }
    }
}

.member {
    padding: 30px 0;
    background: url(../../../images/Wave_White_bottom_right_shape_01.png)bottom / contain no-repeat;
    background-color: #dcd1f0;
    .content__wrap {
        padding: 0;
        .member__list {
            .member__item {
                .member__infor--img {
                    img {
                        width: 100%;
                    }
                }

                .member__infor--text {
                    h3 {}

                    h4 {}

                    p {}
                }
            }
        }
    }
}