
//Khai báo biến
//text-color
$text-c1-primary: rgb(42, 115, 221);
$text-c1-dark: #000;
$text-c1-light: #fff;

//text-size
$text-xs: 10px;
$text-2xs: 12px;
$text-3xs: 14px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;

//font-weight
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semibold: 600;
$text-bold: 700;


